body{
    font-family: 'Be Vietnam Pro', sans-serif;
}
h1{
    font-size:50px;
}
.green-color{
    color:green;
}
.border{
    border-left: 5px solid black;
    border-radius: 4px;
   
}
.link-button{
    text-decoration: none;
    color:white;
    background-color: brown;
    padding:10px 20px;
    border-radius: 5px;
}
.flexible{
    display:flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width:60%;
    padding-left: 100px;
}
.first-section{
    margin: 120px;
}