body{
    font-family: 'Be Vietnam Pro', sans-serif;
}
h1{
    font-size:50px;
}
.green-color{
    color:green;
}
.border{
    border-left: 5px solid black;
    border-radius: 4px;
   
}
.link-button{
    text-decoration: none;
    color:white;
    background-color: brown;
    padding:10px 20px;
    border-radius: 5px;
}
.flexible{
    display:flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width:60%;
    padding-left: 100px;
}
.first-section{
    margin: 120px;
}
#scnd-headline{
    text-align: center;
}
.scnd-items{
    width:25%;
    padding:
}
.scnd-items img{
    width: 40%;
}
#scnd-item-first{
    background-color: gray;
    border-radius: 10px;
    padding:50px 20px;
    margin-right: 10px;
    margin-left: 100px;
}
#scnd-item-scnd{
    background-color: thistle;
    border-radius: 10px; 
    padding:50px 20px;  
}
#scnd-item-third{
    background-color: burlywood;
    border-radius: 10px; 
    padding:50px 20px;  
    margin-left: 10px;   
}